*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

# .idea stuff that is supposed to be generated locally.
/.idea/caches/build_file_checksums.ser
/.idea/assetWizardSettings.xml
/.idea/codeStyles

# secrets not to be added to vcs
/bintraycredential.properties